body {
    text-align: center;
}

#connect4 {
    background-color: darkblue;
    display: inline-block;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background-color: rgba(255, 0, 0, 0.6);
}

.red {
    background-color: rgba(255, 0, 0);
}

.next-yellow {
    background-color: rgb(255, 255, 0, 0.6);
}

.yellow {
    background-color: rgb(255, 255, 0);
}